body {
  display: flex;
  gap: 20px;
}

.date-picker-container {
  width: 286px;
  height: 456px;
  background-color: #FFFFFF;
  margin: 0px;
  padding: 2px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  border: 1px dashed #ccc;
  color: #626467;
}
.date-picker-container .date-picker-header .select-date-label {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4%;
  color: #262728;
}
.date-picker-container .date-picker-header .select-date-label .optional-text {
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0%;
}
.date-picker-container .date-picker-value {
  margin: 0px;
  padding: 0px;
  padding-bottom: 24px;
  font-size: 24px;
  font-weight: 400;
  color: #262728;
}
.date-picker-container .navigation-container {
  display: flex;
  justify-content: space-between;
}
.date-picker-container .navigation-container .month-navigation-expand-container {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0px;
  margin: 0px;
  color: #262728;
  cursor: pointer;
}
.date-picker-container .navigation-container .month-navigation-expand-container .month-expand-button {
  background-color: transparent;
  border: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 4%;
  text-transform: uppercase;
}
.date-picker-container .navigation-container .month-navigation-expand-container .month-expand-icon {
  margin-left: 13px;
}
.date-picker-container .navigation-container .month-navigation-button {
  width: 48px;
  display: flex;
  justify-content: space-between;
  margin-right: 4px;
}
.date-picker-container .navigation-container .month-navigation-button span {
  cursor: pointer;
}
.date-picker-container .day-names {
  display: flex;
  align-items: center;
  height: 40px;
}
.date-picker-container .day-names span {
  font-size: 12px;
  line-height: 16px;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
  color: #626467;
  font-weight: 700;
  width: 40px;
  text-align: center;
}
.date-picker-container .days-grid {
  display: flex;
  width: 282px;
  height: 240px;
  flex-wrap: wrap;
  justify-content: center;
}
.date-picker-container .days-grid .day {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 12px;
  cursor: default;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
  color: #262728;
}
.date-picker-container .days-grid .day.disabled {
  color: #C9CACC;
}
.date-picker-container .days-grid .day.selected {
  background-color: #00805A;
  color: #FFFFFF;
}
.date-picker-container .days-grid .day.highlighted {
  background-color: #F3F3F3;
  color: #262728;
  font-weight: 600;
}
.date-picker-container .days-grid .day:hover:not(.disabled):not(.selected) {
  box-sizing: border-box;
  border: 1px solid #00805A;
  color: #00805A;
  font-weight: 600;
}
.date-picker-container .days-grid .day:hover:not(.disabled) {
  cursor: pointer;
}
.date-picker-container .months-grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  row-gap: 8px;
  box-sizing: border-box;
  width: 282px;
  height: 280px;
  padding-top: 16px;
  text-align: center;
}
.date-picker-container .months-grid .month {
  margin: 0;
  padding: 0;
  width: 88px;
  height: 40px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date-picker-container .months-grid .month.selected {
  background-color: #00805A;
  color: #FFFFFF;
  font-weight: 600;
}
.date-picker-container .months-grid .month:hover:not(.selected) {
  box-sizing: border-box;
  border: 1px solid #00805A;
  color: #00805A;
  font-weight: 600;
}
.date-picker-container .months-grid .month:hover {
  cursor: pointer;
}
.date-picker-container .years-grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 6px;
  box-sizing: border-box;
  overflow-y: scroll;
  width: 282px;
  height: 280px;
  padding-top: 16px;
  text-align: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.date-picker-container .years-grid::-webkit-scrollbar {
  display: none;
}
.date-picker-container .years-grid .year {
  margin: 0;
  padding: 0;
  width: 64px;
  height: 40px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.date-picker-container .years-grid .year.selected {
  background-color: #00805A;
  color: #FFFFFF;
  font-weight: 600;
}
.date-picker-container .years-grid .year:hover {
  cursor: pointer;
}
.date-picker-container .years-grid .year:hover:not(.selected) {
  box-sizing: border-box;
  border: 1px solid #00805A;
  color: #00805A;
  font-weight: 600;
}
.date-picker-container .action-row {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  margin-top: 40px;
}
.date-picker-container .action-row .cancel-button,
.date-picker-container .action-row .confirm-button {
  background-color: transparent;
  border: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #626467;
  text-transform: uppercase;
  cursor: pointer;
}
.date-picker-container .action-row .cancel-button:hover,
.date-picker-container .action-row .confirm-button:hover {
  color: #00805A;
}

/*# sourceMappingURL=styles.css.map */
